<!DOCTYPE html>
<html ng-app="licensegenerator">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/angular")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/filesaver")
    @Scripts.Render("~/bundles/other")
    @Scripts.Render("~/bundles/insolutions")
    @RenderSection("scripts", required: false)
    <script>
        var siteUrl = '@Url.Action("Index", "Home").Replace("/Home", "").Replace("/Index", "")';
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="@(ViewBag.Module == "Generator" ? "active" : "noactive")">@Html.ActionLink("Generator", "Index", "Home")</li>
                    <li role="presentation" class="@(ViewBag.Module == "Subscriptions" ? "active" : "noactive")">@Html.ActionLink("Abonamenty", "Index", "Subscriptions")</li>
                    <li role="presentation" class="@(ViewBag.Module == "History" ? "active" : "noactive")">@Html.ActionLink("Historia licencji", "Index", "History")</li>
                    <li role="presentation" class="@(ViewBag.Module == "About" ? "active" : "noactive")">@Html.ActionLink("O programie", "Index", "About")</li>
                </ul>
            </nav>
            <h3 class="text-muted">Generator licencji</h3>
        </div>

        @RenderBody()

        <footer class="footer">
            <p>&copy; inSolutions @DateTime.Now.Date.Year</p>
        </footer>

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @*<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>*@
</body>
</html>
