<!DOCTYPE html>
<html ng-app="licensegenerator">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/filesaver")
    @Scripts.Render("~/bundles/insolutions")

    <script>
    var siteUrl = '@Url.Action("Index", "Home").Replace("/Home", "").Replace("/Index", "")';
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="@(ViewBag.Module == "Generator" ? "active" : "noactive")">@Html.ActionLink("Generator", "Index", "Home")</li>
                    <li role="presentation" class="@(ViewBag.Module == "History" ? "active" : "noactive")">@Html.ActionLink("Historia licencji", "History", "Home")</li>
                    <li role="presentation" class="@(ViewBag.Module == "About" ? "active" : "noactive")">@Html.ActionLink("O programie", "About", "Home")</li>
                </ul>
            </nav>
            <h3 class="text-muted">Generator licencji</h3>
        </div>

        @*<div class="jumbotron">
                <h1>Jumbotron heading</h1>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
            </div>

            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>Subheading</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                    <h4>Subheading</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                    <h4>Subheading</h4>
                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>

                <div class="col-lg-6">
                    <h4>Subheading</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                    <h4>Subheading</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                    <h4>Subheading</h4>
                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
            </div>*@

        @RenderBody()

        <footer class="footer">
            <p>&copy; inSolutions @DateTime.Now.Date.Year</p>
        </footer>

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @*<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
